body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sortable-table tr.placeholder {
  /*position: relative;*/
  border: 1px dashed #CCC;
  height: 20px;
  width: 100%;
  display:block;
  /** More li styles **/
}